# git ignores
*~
build
.vscode/c_cpp_properties.json
.vscode/settings.json
*.vsf
src/logo.c
src/space_invaders_logo_300x200_real.png
src/space_invaders_logo_160x200.png
Invaders-2600 - Sprites.asm
src/monitor.log
